body {
  background-color: #14B3DB;
}


.navbar-custom{
  background-color:black ;
}

.custom-link{
  color: white;
  margin: 5px;
}
.custom-link:hover{
  color: coral;
}

.text-center{
  margin: 20px;
}

.boton-izq{
  margin-right: 15px;
}

.boton-der{
  margin-left: 15px;
}
.text-muted{
  background-color: blanchedalmond;
}

.boton-reg{
  margin: 17px;
}

.boton-rec{
  background-color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
